<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rushi Dance Academy</title>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    <nav id="navbar">
        <ul>
            <div id="logo">
                <img src="/static/img/logo.png">
                RDA
                <li><a href="/">Home</a></li>
                <li><a href="/">About</a></li>
                <li><a href="/">Services</a></li>
                <li><a href="/">Class Info</a></li>
                <li><a href="/">Contact Us</a></li>
            </div>
        </ul>
    </nav>

    <section id="introSection">
        <div>Welcome to Rushi's Dance Academy</div>
        <div class="small">Eat Sleep Dance Repeat</div>
    </section>

    <section id="MissionSection">
        <h2>Our Mission</h2>
        <div class="card">
            <h3>To Deliver Perfection</h3>
            <div class="card-box">
                <div class="card-img">
                    <img src="/static/img/2.png">
                </div>
                <div class="card-content">
                    <p>We deliver perfection in every single step you learn from our masters</p>
                </div>
            </div>
        </div>

        <div class="card">
            <h3>To Deliver Rhythem</h3>
            <div class="card-box">
                <div class="card-img">
                    <img src="/static/img/3.png">
                </div>
                <div class="card-content">
                    <p>We deliver rhythem,not only in your steps also in your life</p>
                </div>
            </div>
        </div>

        <div class="card">
            <h3>To make People fit</h3>
            <div class="card-box">
                <div class="card-img">
                    <img src="/static/img/1.png">
                </div>
                <div class="card-content">
                    <p>we also organise exercise session which help you to improve your dance as well as overall fitness
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section id="sponsorsSection">
        <h2>Our Sponsors</h2>
        <div id="sponsors">
            <img src="/static/img/logo1.png" alte="Sponsor Image" class="spImage">
            <img src="/static/img/logo2.png" alte="Sponsor Image" class="spImage">
            <img src="/static/img/logo3.png" alte="Sponsor Image" class="spImage">
            <img src="/static/img/logo4.png" alte="Sponsor Image" class="spImage">
        </div>
    </section>

    <footer id="footer">
        Copyright &copy; www.RushiDanceAcademy.com. All rights reserved!
    </footer>

   

</body>

</html>